
/* Cards */

.course-card {

	position: relative;
	transition: $fastTransition;

	&:hover {

		box-shadow: $courseItemHoverGlow;

	}

}

.course-card-image {

	background-size: cover;
	background-position: 50% 50%;
	height: 25vh;
	overflow: hidden;

}

.course-card-caption {

	padding: 15px;
	background: $carouselCaptionBackgroundColour;
	color: $carouselCaptionTextColour;
	text-align: center;
	width: 100%;
	transition: $fastTransition;

	a {

		h4 {

			color: $carouselCaptionTextColour;

		}

		p {

			color: $carouselCaptionTextColour;			

		}

	}

	div {

		width: 100%;

		.dropdown-options {

			width: 100%;
			margin: 5px;
			padding: 0 10px 0 0;

			.dropdown-toggle {

				border: 1px solid $carouselCaptionTextColour;
				width: 100%;
				color: $carouselCaptionTextColour;

				&:hover, &:focus {

					color: $carouselCaptionTextColour !important;

				}

				i {

					width: auto;
					margin: 0;

				}

			}

		}

		.dropdown-menu {

			// margin: 0 auto;
			width: 50%;
			left: 49%;
  			right: auto;
  			text-align: center;
  			transform: translate(-49%, 0);

		}

		.open {

			.dropdown-toggle.btn-default {

				&:focus {

					background: none;
					border: 1px solid $carouselCaptionTextColour;

				}

			}

		}

	}

	.btn {

		width: 50% !important;

		@media (max-width: $mobileLargePortrait) {

        	width: 100%;

		}

	}

}