
/* Grid */

.grid {

	display: grid;
	grid-gap: 15px;
	overflow: hidden;
	padding: 30px;
	grid-template-columns: 1fr 1fr;

	.item {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		&:nth-child(2) {

			@media (max-width: $tabletPortrait) {

				display: none;

			}

			@media (max-width: $mobileLargeLandscape) {

		  		display: none;

			}

			@media (max-width: $mobileLargePortrait) {

		  		display: none;

			}

		}

	}

	@media (max-width: $tabletPortrait) {

		height: 100vh;
  		grid-template-columns: 1fr;

	}

	@media (max-width: $mobileLargeLandscape) {

  		grid-template-columns: 1fr;

	}

	@media (max-width: $mobileLargePortrait) {

  		grid-template-columns: 1fr;

	}

}