
/* Sections */

section {

	position: relative;
	padding: 15px 0;
	overflow-x: hidden;

	.container {

		.row {

			div {

				h2 {

					text-align: center;

				}

			}

		}

	}

}

section[role="default"] {

	padding: 80px 0 30px;
	min-height: 100vh;

	.container {

		h1 {

			text-align: center;
			color: $darkBlue;

		}

		.grid {

			.item {

				.wrapper {

					div {

						h1, h2, h3, h4 {

							color: $white;

						}

					}

				}

			}

		}

	}

	@media (max-width: $tabletPortrait) {

  		padding: 0;

	}

	@media (max-width: $mobileLargeLandscape) {

  		padding: 0;

	}

	@media (max-width: $mobileLargePortrait) {

  		padding: 0;

	}

}

section[role="highlight"] {

	background: $darkBlue;
	padding: 15px 0;

	.container {

		.row {

			div {

				color: $white;

				h2 {

					text-align: center;

				}

			}

		}

		.carousel {

			.carousel-inner {

				.item {

					.row {

						div {

							.post {

								margin: 0;

							}

						}

					}

				}

			}

		}

	}

}

section[role="post"] {

	padding: 80px 0 30px;

	.container {

		.row {

			div {

				h2 {

					text-align: center;
					color: $darkBlue;

				}

				.post-details {

					text-align: center;
					padding: 25% 0 0 0;

					p {

						text-align: center;

						a {

							color: $darkBlue;

						}

					}

					ul {

						list-style-type: none;
						border-top: 1px solid $darkBlue;
						border-bottom: 1px solid $darkBlue;
						padding: 15px 0;
						width: 100%;

						li {

							color: $darkBlue;

						}

					}

					@media (max-width: $tabletPortrait) {

						padding: 0;

					}

					@media (max-width: $mobileLargePortrait) {

						padding: 5% 0 0 0;

					}

				}

				.post-preview {

					position: relative;

					img {

						@media (max-width: $tabletPortrait) {

							display: block;
							margin: 0 auto;

						}

					}

					.fa-play-circle {

						position: absolute;
						top: 37%;
						left: 39%;
						font-size: 10em;
						opacity: 0.5;
						color: $white;

						@media (max-width: $tabletPortrait) {

							top: 40%;
							left: 40%;

						}

						@media (max-width: $mobileLargePortrait) {

							top: 35%;
							left: 35%;

						}

					}

				}

			}


		}

	}

	@media (max-width: $mobileLargePortrait) {

		padding: 60px 0 30px;

	}

}

section[role="explore"] {

	.container {

		.row {

			div {

				color: $gray;

			}

		}

		h1 {

			text-align: center;
			color: $darkBlue;

		}

	}

}

section[role="all"] {

	padding: 80px 0 30px;

	.container {

		.grid {

			.item {

				color: $gray;

				&:nth-of-type(2) {

					.post {

						.post-caption {

							background: $green;

						}

					}

				}

				&:nth-of-type(3) {

					.post {

						.post-caption {

							background: $purple;

						}

					}

				}

				&:nth-of-type(4) {

					.post {

						.post-caption {

							background: $pink;

						}

					}

				}

			}

		}

		h1 {

			text-align: center;
			color: $darkBlue;

		}

	}

	@media (max-width: $mobileLargePortrait) {

		padding: 100px 0 30px;

	}

}